<?xml version='1.0' encoding='utf-8'?>
<widget id="jp.phi.FlickArrow" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FlickArrow</name>
    <description>
        A simple game.
    </description>
    <author email="phi1618jp@gmail.com" href="http://tmlife.net">
        tmlib.js project
    </author>
    <content src="flick-arrow.html" />
    <access origin="*" />
</widget>
